build
.gradle
api/dbFiles

*.bpt
*.dat
*.idn
*.jrnl
*.obj
*.bdf
*.lock
*.db
*.xml
*.txt
*.ttl
*.jar
*.rdf
*.lck
*.bak_002d
*.html
*.png
*.crc

frontend/package-lock.json

!orm.xml
!persistence.xml
!gradle/wrapper/gradle-wrapper.jar
