*.csv
!csvTestFile.csv
*.bpt
*.dat
*.idn
*.jrnl
*.obj
*.bdf
*.lock
*.db
*.json
*.xml
!api/src/main/resources/frontend-schemas/RepositoryForms/*.json
!orm.xml
!package.json
!persistence.xml
!N85A9SX4TX2SkZ25_enfermedades.json
!jsonTestFile.json
!corruptJsonTestFile.json

*.txt
api/lib/NextiaBS-1.0-SNAPSHOT-uber.jar
*.ttl
*.jar
*.rdf
api/dbFiles/ttl/integrated
*.lck
*.bak_002d
*.html
*.png
*.parquet