# Core
rdflib
owlrl
pyshacl @ https://github.com/dtim-upc/pySHACL/releases/download/0.23.0/pyshacl-0.23.0-py3-none-any.whl
tqdm
rdflib-jsonld

# Annotator
pandas

# Experiments
natsort

# Demo
flask
flask_cors

# Others
requests
setuptools