// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #4945FF;// #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

// $dark      : #1D1D1D;
// $dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


// used by dark mode
$dark-page : #181826;
$dark      : #212134 ;


// LIGHT colors

$primary700: #271fe0;
$primary600 :#4945FF;
$primary100 : #f0f0ff;


$neutral500 : #8E8EA9;
$neutral400 : #A5A5BA;  
$neutral150 : #EAEAEF;
$neutral100 : #f6f5f9;
$neutral0 : #FFFFFF;

// DARK colors

$neutal1000d :#FFFFFF;

$primary700d: #7B79FF; 

$neutral400d : $neutral400 ;
$neutral500d : #C0C0CF;
$neutral100d : #181826;
$neutral0d : #212134;